# Applying Random Forest Classifier

In [ ]:
#import necessary libraries 
import pandas as pd 
import numpy as np

In [2]:
fraud_ml= pd.read_csv("G:\\Fraud_data_final_new.csv")

In [3]:
fraud_ml.shape

(1484540, 17)

In [4]:
fraud_ml.head()

,Unnamed: 0,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,"Home or self care,",ccs_procedure_code,Mortality risk,Surg_Description,Weight_baby,Emergency dept_yes/No,Tot_charg,ratio_of_total_costs_to_total_charges,Payment_Typology,Result
0,0,6,3,0,2,0,3,7,0,1.0,0,0,1,5511.95,1.012798,1,1
1,1,6,5,0,2,0,2,17,0,2.0,0,0,1,4783.20,1.079365,1,1
2,2,6,3,0,2,0,2,7,0,1.0,0,0,1,3829.15,1.059379,1,1
3,3,6,1,0,2,0,2,7,0,1.0,0,0,1,1108.20,1.484167,1,0
4,4,6,5,0,2,0,3,7,0,3.0,0,0,1,3418.18,0.986161,1,1

In [5]:
fraud_ml=fraud_ml.rename({'Home or self care,':'Home_care'},axis=1)
fraud_ml=fraud_ml.rename({'Mortality risk':'Mortality_risk'},axis=1)
fraud_ml=fraud_ml.rename({'Emergency dept_yes/No':'Emergency_dept_yes_No'},axis=1)

In [6]:
fraud_ml=fraud_ml.drop(['Unnamed: 0'],axis=1)
fraud_ml

,Area_Service,Age,Gender,Cultural_group,ethnicity,Admission_type,Home_care,ccs_procedure_code,Mortality_risk,Surg_Description,Weight_baby,Emergency_dept_yes_No,Tot_charg,ratio_of_total_costs_to_total_charges,Payment_Typology,Result
0,6,3,0,2,0,3,7,0,1.0,0,0,1,5511.95,1.012798,1,1
1,6,5,0,2,0,2,17,0,2.0,0,0,1,4783.20,1.079365,1,1
2,6,3,0,2,0,2,7,0,1.0,0,0,1,3829.15,1.059379,1,1
3,6,1,0,2,0,2,7,0,1.0,0,0,1,1108.20,1.484167,1,0
4,6,5,0,2,0,3,7,0,3.0,0,0,1,3418.18,0.986161,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484535,2,5,0,2,0,1,4,216,4.0,0,0,1,34356.03,0.427930,1,0
1484536,2,5,0,2,0,1,7,222,3.0,0,0,1,11158.96,0.626157,2,0
1484537,3,3,0,2,0,3,7,140,1.0,0,0,0,9331.65,0.482473,1,0
1484538,3,4,1,2,0,1,7,0,4.0,0,0,1,20049.40,0.243708,1,0
1484539,1,1,1,0,0,4,7,115,1.0,0,2400,0,3160.00,0.392349,2,0

In [7]:
x_res = fraud_ml.drop(['Result'], axis=1)
y_res = fraud_ml['Result']

In [8]:
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs=3,n_estimators=15,oob_score=True,criterion='entropy')
model.fit(x_res,y_res)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:560: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [10]:
##  create a pickle file using serialization
import pickle
pickle_out=open("model_pkl.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()